// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary-color: #202020;
$contrasting-color: #F5F0E2;
$grey-shadow: #555555;
$pop-red: #F65455;
$dark-turquoise: #0197A8;
$white: #FFFFFF;
