<nav>
  <div class="nav-home">
    <ul class="nav-links">
      <li><a href="#">about</a></li>
      <li><a href="#">portfolio</a></li>
      <li><a href="#" id="contact">contact</a></li>
    </ul>
  </div>
</nav>
