<section class="intro">
  <div class="wrapper">
    <%= render 'shared/home-navbar' %>
    <div class="intro-header">
      <div class="intro-title">
        <h1 class="title">Hello world<span id="point"><em>.</em></span>
        </h1>
        <h1 class="title">I am <span id="name">Isabelle<span></h1>
      </div>
      <div class="intro-info">
        <h2 class="info">A Fullstack Developper</h2>
        <h2 class="info">Freelance</h2>
        <h2 class="info">Based in Paris, France</h2>
        <div class="social-network">
          <ul class="list-inline">
            <li><a href="https://twitter.com/isalafont"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://github.com/Isalafont"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/isabelle-lafont"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="arrow">
      <i class="fas fa-angle-double-down"></i>
      <%#= inline_svg_tag('large_circle.svg') %>
    </div>
  </div>
</section>
<section class="about">

</section>

