<div class="landing-page">
  <div class="page-header">
    <div class="home-title">
      <h1 class="title">Hello<span id="point"><em>.</em></span>
      </h1>
      <h1 class="title">I am <span id="name">Isabelle<span></h1>
    </div>
  </div>
</div>

