<section class="intro">
  <div class="intro-header">
    <div class="intro-title">
      <h1 class="title">Hello<span id="point"><em>.</em></span>
      </h1>
      <h1 class="title">I am <span id="name">Isabelle<span></h1>
    </div>
    <div class="intro-info">
      <h2 class="info">Fullstack Developper</h1>
      <h2 class="info">Freelance</h2>
      <h2 class="info">Based in Paris, France</h2>
    </div>
    <div class="arrow-down">
      <i class="fas fa-angle-double-down"></i>
      <%#= inline_svg_tag('large_circle.svg') %>
    </div>
  </div>
</section>

