// Landing Page

.landing-page{
  height: 100vh;
}

.page-header {
  display: block;
  position: relative;
  padding-top: 5em;
  padding-left: 4.5em;
}

.home-title {
  font-family: $my-font;
  font-size: 3rem;
}

#point {
  color: $pop-red;
}

#name {
  color: $dark-turquoise;
}

.home-info {
  display: block;
  position: absolute;
  padding-top: 1em;
  padding-left: 1em;
  right: 30em;
}

.info {
  font-family: $my-font;
}
