// Landing Page

.landing-page{
  height: 100vh;
}

.page-header {
  height: 50vh;
  display: block;
  padding-top: 130px;
  padding-left: 65px;
}

.home-title {
  font-family: $my-font;
  font-size: 3rem;
}

#point {
  color: $pop-red;
}

#name {
  color: $dark-turquoise;
}
