.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  font-family: $my-font;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: $white;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    color: $white;
  } &:focus {
    opacity: 1;
    color: $white;
  }
}

#contact-nav {
  color: $pop-red;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  } &:focus {
    opacity: 1;
  }
}
